$colors: orange red blue  green cyan yellow purple;

.box {
  width:60px;
  height:60px;
  color: white;
  position: absolute;
  transform: translate(0px, 0px);
  transition: all 0.1s ease-out;
  cursor:pointer;

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &:nth-child(#{$i}){
      z-index: $i * -1;
      background: $color;
    }
  }
}

